<div style="min-height: 500px; margin-bottom: 10px">
  <div class="image-left" style="background-image: url(<%= asset_path('background.jpg') %>);">

  </div>
  <div class="color-right">

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-6">
        <div class="box-text">
          <h1>Abundance</h1>
          <p>
            We help architects, developers, and building owners to use sustainability
            and green building as a business tool. In addition to our consulting and
            program strategy services, we help to improve the design and operations
            of our clients’ buildings to minimize costs, increase profitability, and
            enhance employee satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="color-box" style="min-height: 1540px">
        <h2>Categories</h2>
        <ul class="categories">
          <li><%= link_to 'Abundance Thinking', '#' %></li>
          <li><%= link_to 'Certifications', '#' %></li>
          <li><%= link_to 'LEED', '#' %></li>
          <li><%= link_to 'Architecture', '#' %></li>
          <li><%= link_to 'Development', '#' %></li>
        </ul>
        <h2>Subscribe</h2>
        <%= link_to 'Subscribe Via RSS', '#', class: 'btn btn-primary' %>
        <%= link_to 'Subscribe Via Email', '#', class: 'btn btn-success' %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="blog-entry">
        <div class="entry-image" style="background-image: url(<%= asset_path('background.jpg') %>);">

        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="box-text" style="margin-top: 30px">
            <h3>Best networking events for real estate in Seattle, Washington DC, and Austin</h3>
            <p>By <%= link_to 'Paladino and Company', '#' %></p>
            <p>If you’re like us, you’re always on the hunt for interesting, local networking events that bring together architects and developers…</p>
          </div>
        </div>
      </div>
      <div class="blog-entry">
        <div class="entry-image" style="background-image: url(<%= asset_path('background.jpg') %>);">

        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="box-text" style="margin-top: 30px">
            <h3>Best networking events for real estate in Seattle, Washington DC, and Austin</h3>
            <p>By <%= link_to 'Paladino and Company', '#' %></p>
            <p>If you’re like us, you’re always on the hunt for interesting, local networking events that bring together architects and developers…</p>
          </div>
        </div>
      </div>
      <div class="blog-entry">
        <div class="entry-image" style="background-image: url(<%= asset_path('background.jpg') %>);">

        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="box-text" style="margin-top: 30px">
            <h3>Best networking events for real estate in Seattle, Washington DC, and Austin</h3>
            <p>By <%= link_to 'Paladino and Company', '#' %></p>
            <p>If you’re like us, you’re always on the hunt for interesting, local networking events that bring together architects and developers…</p>
          </div>
        </div>
      </div>
      <div class="blog-entry">
        <div class="entry-image" style="background-image: url(<%= asset_path('background.jpg') %>);">

        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="box-text" style="margin-top: 30px">
            <h3>Best networking events for real estate in Seattle, Washington DC, and Austin</h3>
            <p>By <%= link_to 'Paladino and Company', '#' %></p>
            <p>If you’re like us, you’re always on the hunt for interesting, local networking events that bring together architects and developers…</p>
          </div>
        </div>
      </div>
      <div class="blog-entry">
        <div class="entry-image" style="background-image: url(<%= asset_path('background.jpg') %>);">

        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="box-text" style="margin-top: 30px">
            <h3>Best networking events for real estate in Seattle, Washington DC, and Austin</h3>
            <p>By <%= link_to 'Paladino and Company', '#' %></p>
            <p>If you’re like us, you’re always on the hunt for interesting, local networking events that bring together architects and developers…</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
