<div style="min-height: 500px; margin-bottom: 10px">
  <div class="image-left" style="background-image: url(<%= asset_path('blog.png') %>)">

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <div class="box-text">
          <h1>Best networking events for real estate in Seattle, Washington DC, and Austin</h1>
          <p>
            By <%= link_to 'Paladino and Company' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="light-gray" style="min-height: 1540px">
        <h2>Categories</h2>
        <ul class="categories">
          <li><%= link_to 'Abundance Thinking', '#' %></li>
          <li><%= link_to 'Certifications', '#' %></li>
          <li><%= link_to 'LEED', '#' %></li>
          <li><%= link_to 'Architecture', '#' %></li>
          <li><%= link_to 'Development', '#' %></li>
        </ul>
        <h2>Subscribe</h2>
        <%= link_to 'Subscribe Via RSS', '#', class: 'btn btn-primary' %>
        <%= link_to 'Subscribe Via Email', '#', class: 'btn btn-success' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="blog-text">
        <p>
          If you’re like us, you’re always on the hunt for interesting, local networking events that bring together architects and developers. We did our research and found an abundance of real estate networking events the next few months for development, construction, and architecture in and around our favorite places: Seattle, Washington DC, and Austin!
          Browse through the events below – we hope to see you there!
        </p>
        <%= image_tag 'seattle.png', style: 'width: 100%' %>
        <h3>Seattle Events</h3>
        <p>
          <span style="color: #009CDA;">Crew – How to do business on the golf course</span></br>
           Where: Jefferson Golf Course | 4101 Beacon Ave S. When: April 25 Cost: $35 for members, $45 for non-members
          With the golf tournament season just around the corner, now is the perfect time to get a golf lesson from the Jefferson golf pros! You will learn best practices and general “how to” for conducting business on the golf course.
          </br></br><span style="color: #009CDA;">April Breakfast: 2017 Broker Forecast </span></br>
          Where: Four Seasons Seattle | 99 Union St When: April 26 Cost: $50 for members, $70 for non-members
          Expert guests report on tenant needs, current demand and how landlords are planning for anticipated market changes. Speakers to be announced.
          </br></br><span style="color: #009CDA;">Capitol Hill Chamber of Commerce Happy Hour  </span></br>
          Where: Board & Vellum | 115 15th AVE. E #100 When: May 4 Cost: Free
          Hosted by Board & Vellum, this fun, free event will be an excellent opportunity to learn more about how the Chamber supports our vibrant, welcoming neighborhood, and to get to know one of Capitol Hill’s vital business communities.
          </br></br><span style="color: #009CDA;">The Seattle Who’s Who Showcase & Seminar </span></br>
            Where: Safeco Field | 1250 First Avenue South When: May 11 Cost: Free
          Get the connections you’ve been waiting to make face-to-face. Meet industry thought-leaders and introduce yourself to new market technologies.
          AIA Happy Hour Where: Ankrom Moisan Office | 1505 5th AVE #300 When: May 11 Cost:  Free
          The AIA Seattle Happy Hour Series encourages connections among the Seattle design community. This year’s happy hours will highlight the role of chance in the design of each host firms’ project and practice.
          May 25th– Bisnow Construction & Development Where: Venue to be announced by April 25 When: May 25 Cost: $84
          As Seattle steams into the ranks of the Global Cities, challenges and opportunities abound. Where are the next emerging markets to open up? What is the future of sustainable building and operating practice? What are tenants looking for in today’s ultra competitive market? How best to house and incubate the inspired start up talent proliferating around town?
          AIA Happy Hour Where: Paladino’s Seattle Headquarters | 1932 1st Ave Suite 200 When: June 8 Cost:  Free
          The AIA Seattle Happy Hour Series encourages connections among the Seattle design community. This year’s happy hours will highlight the role of chance in the design of each host firms’ project and practice. Come here Tom Paladino speak!
          CleanTech Innovation Showcase Where: Bell Harbor International Conference Center | 2211 Alaskan Way When: June 26 Cost: Early bird through May 1 $225 for members, $245 for non-members
          CleanTech Innovation Showcase is the premier one-day event to experience the latest cleantech innovations from companies and research institutions across the Northwest. Join 500+ cleantech industry leaders, investors, policymakers and media as we celebrate what’s coming next in clean technology innovation.
        </p>
        <%= image_tag 'washington.png', style: 'width: 100%' %>
        <h3>Washington, DC Events</h3>
        <p>
          Bisnow Federal Properties Summit 
          Where: National Square Building | 500 D Street, SW 
          When: April 27
           Cost: $94
          Don’t miss this all-star lineup of speakers and, as always, great networking opportunities in the Commercial Real Estate and Federal Contracting communities.
          USGBC National Capital Region 2nd Annual Women in Green Breakfast Where: University of the District of Columbia | 4200 Connecticut Avenue NW | Student Center When: May 8 Cost: $35 for members, $50 for non-members
          Join USGBC National Capital Region for the 2nd annual event to celebrate Women in Green. Network with peers and panelists as attendees discuss what it means to be a woman working to advance green building in the DC metro area! Be part of an important morning that celebrates women in local sustainability who are at the top of their game.
          Washington DC Green Festival Expo Where: DC Convention Center | 801 Mt Vernon Pl NW When: May 13 Cost: $10-19
          The mission is to bring together the world’s most trusted companies, innovative speakers, national and local innovative businesses, conscious consumers and pioneering thinkers like yourself, in one place to promote the best in sustainability and green living.
          Gathering of the Greens: Green Registry Awards, Annapolis Green & USGBCMD Where: Historic Inns of Annapolis | Governor Calvert House | 58 State Circle When: June 14 Cost: Free
          Network with members and guests from 3 organizations with a big focus on local sustainability- the Maryland Green Registry, Annapolis Green, and the U.S. Green Building Council Maryland Community (USGBC Maryland).
        </p>
        <%= image_tag 'austin.png', style: 'width: 100%' %>
        <h3>Austin Events</h3>
        <p>
          Bisnow Creative Office Where: Capital Factory | 701 Brazos Street When: May 4 Cost: $89
          Join Bisnow for Austin’s Creative Office event on May 4th as we dive into the changing landscape of the office environment. What is the future of office spaces? How will design impact creativity and efficiency for a company? Are co-working spaces taking over?
          Women in Design + Construction Where: Fairmont Scottsdale Princess, Scottsdale, AZ When: Nov 15-17 Cost: Varies
          Attendees connect and discover new ways to succeed in the industry. Be sure to meet Paladino’s Rachel Sowards who will be attending this year.
        </p>
      </div>
    </div>
  </div>
</div>
