<div style="min-height: 500px; margin-bottom: 10px">
  <div class="image-left" style="background-image: url(<%= asset_path('background.jpg') %>);">

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-6">
        <div class="box-text">
          <h1>Sustainable Real Estate</h1>
          <p>
            We help architects, developers, and building owners to use sustainability
            and green building as a business tool. In addition to our consulting and
            program strategy services, we help to improve the design and operations
            of our clients’ buildings to minimize costs, increase profitability, and
            enhance employee satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-bottom: 10px">
  <div class="row">
    <div class="col-md-6">
      <div class="light-gray" style="text-align: center">
        <h2>Experience With A Variety of Clients</h2>
        <p>
          We help architects, developers, and building owners to use sustainability
          and green building as a business tool. In addition to our consulting and
          program strategy services, we help to improve the design and operations of
          our clients’ buildings to minimize costs, increase profitability, and enhance
          employee satisfaction.
        </p>
        <%= link_to 'LEARN MORE', '#', class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="light-gray" style="text-align: center">
        <h2>Experience With A Variety of Clients</h2>
        <p>
          We help architects, developers, and building owners to use sustainability
          and green building as a business tool. In addition to our consulting and
          program strategy services, we help to improve the design and operations of
          our clients’ buildings to minimize costs, increase profitability, and enhance
          employee satisfaction.
        </p>
        <%= link_to 'LEARN MORE', '#', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div style="min-height: 500px; margin-bottom: 10px">
  <div class="image-right" style="background-image: url(<%= asset_path('sky-scrapers.jpg') %>)">

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="box-text">
          <h2>An Approach For You</h2>
          <p>
            We help architects, developers, and building owners to use sustainability
            and green building as a business tool. In addition to our consulting and
            program strategy services, we help to improve the design and operations
            of our clients’ buildings to minimize costs, increase profitability, and
            enhance employee satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-bottom: 10px">
  <div class="row">
    <div class="col-md-3">
      <div class="light-gray">
        <h4>Our Frameworks</h4>
        <p>How we tackle problems at a high level</p>
        <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="light-gray">
        <h4>Our Frameworks</h4>
        <p>How we tackle problems at a high level</p>
        <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="light-gray">
        <h4>Our Frameworks</h4>
        <p>How we tackle problems at a high level</p>
        <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="light-gray">
        <h4>Our Frameworks</h4>
        <p>How we tackle problems at a high level</p>
        <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div style="min-height: 600px; margin-bottom: 10px">
  <div class="image-right" style="background-image: url(<%= asset_path('wall.png') %>); min-height: 600px">

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-9  col-md-offset-1  col-lg-offset-1">
        <div class="box-text">
          <h2>Sustainability as a Tool</h2>
          <p>
            Not only do we have services tailored to your market, but we’ve also
            spent a lot of time working with various industries and tailoring our
            approach to your needs. Use the links before to find out more about
            how we can help you. Not only do we have services tailored to your
            market, but we’ve also spent a lot of time working with various
            industries and tailoring our approach to your needs. Use the links
            before to find out more about how we can help you.
          </p>
          <p>
            Not only do we have services tailored to your market, but we’ve also spent a
            lot of time working with various industries and tailoring our approach
            to your needs. Use the links before to find out more about how we can help you.
          </p>

          <%= link_to 'Certifications', '#', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="min-height: 600px; margin-bottom: 10px">
  <div class="image-left" style="background-image: url(<%= asset_path('outside.png') %>); min-height: 600px">

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-6 col-md-9 col-md-offset-2">
        <div class="box-text">
          <h2>Sustainability as a Tool</h2>
          <p>
            Not only do we have services tailored to your market, but we’ve also
            spent a lot of time working with various industries and tailoring our
            approach to your needs. Use the links before to find out more about
            how we can help you. Not only do we have services tailored to your
            market, but we’ve also spent a lot of time working with various
            industries and tailoring our approach to your needs. Use the links
            before to find out more about how we can help you.
          </p>
          <p>
            Not only do we have services tailored to your market, but we’ve also spent a
            lot of time working with various industries and tailoring our approach
            to your needs. Use the links before to find out more about how we can help you.
          </p>

          <%= link_to 'Certifications', '#', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <p class="large-square">
        Ready to get started?
      </p>
    </div>
    <div class="col-md-3">
      <div class="image-square" style="background-image: url(<%= asset_path('background.jpg') %>);">
        <div class="wrapper">
          <p>Get in Touch with us to bring sustainability to your project</p>
          <%= link_to 'Contact Us', '#', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="image-square" style="background-image: url(<%= asset_path('background.jpg') %>);">
        <div class="wrapper">
          <p>Get in Touch with us to bring sustainability to your project</p>
          <%= link_to 'Contact Us', '#', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="image-square" style="background-image: url(<%= asset_path('background.jpg') %>);">
        <div class="wrapper">
          <p>Get in Touch with us to bring sustainability to your project</p>
          <%= link_to 'Contact Us', '#', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
